:root {
    --color-primary: #fff;
    --color-secondary: #fff;
}


.heroBg {
    width: 100%;
    height: 600px;
    background: linear-gradient(0deg, #2F364B 0%, #262B3D 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
    z-index: -1;
}

.containerHero {
    margin: 0 auto;
    max-width: 80%;
    width: 100%;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 0;
    padding: 4rem;


    .sectionText {
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }

    .heroContent {
        
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .heroActions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .button {
            display: flex;
            align-items: center;
            gap: 1rem;
            color: var(--color-primary);
            --btn-border-radius: 2rem;
            --btn-padding: 1rem 2rem;
            --shadow-color: #00bac756;
            box-shadow: 0 15px 30px var(--shadow-color);
        }
    }

    .npmActions {
        display: flex;
        align-items: flex-start;
        justify-items: flex-start;
        gap: 1rem;
    }

    .npmDownloads {
        font-size: 1.5rem;
        font-weight: 700;
        text-align: right;
    }

    h1 {
        font-size: 2rem;
        font-weight: 700;
    }

    h1,
    p {
        color: var(--color-primary);
        margin: 0;
    }
}

@media (max-width: 768px) {
    .heroBg {
      
        height: 1000px;
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 90%);
    }
    .containerHero {
        flex-direction: column;
    }
    .heroContent {
        flex-direction: column;
    }
    .heroImage {
       width: 100%;
       height: 100%;
    }
}

