:root {
  --color-primary: #fff;
  --color-secondary: #fff;
  --color-accent: #00bac7;

  --text-color: rgba(39, 45, 62, 0.8);
}

.heroBg {
  width: 100%;
  height: 700px;
  background: linear-gradient(0deg, #2f364b 0%, #262b3d 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  z-index: -1;
}

.containerHero {
  margin: 0 auto;
  max-width: 80%;
  width: 100%;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 0;
  padding: 4rem;
  max-height: 650px;

  .sectionText {
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }

  .heroContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .heroActions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: var(--color-primary);
      --btn-border-radius: 2rem;
      --btn-padding: 1rem 2rem;
      --shadow-color: #00bac756;
      box-shadow: 0 15px 30px var(--shadow-color);
    }
  }

  .npmActions {
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    gap: 1rem;
  }

  .npmDownloads {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: right;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  h1,
  p {
    color: var(--color-primary);
    margin: 0;
  }
}

.features {
  margin: 0 auto;
  max-width: 80%;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 1rem;

  .containerTitles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;

    .titles {
      width: 50%;

      span {
        padding-left: 3.5rem;
        position: relative;
        color: var(--color-accent);

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          translate: 50% 50%;
          width: 30px;
          height: 2px;
          background: var(--color-accent);
        }
      }

      h5 {
        margin: 0;
        font-size: 32px;
        font-weight: 700;
      }
    }

    p {
      margin: 0;
      width: 50%;
      font-size: 18px;
      line-height: 32px;
      font-weight: 4700;
      color: var(--text-color);
    }
  }

  .gridFeatures {
    padding-block: 5rem;
    display: flex;
    gap: 30px;

    .grid {
      gap: 1rem;
      width: 33%;
      text-align: center;

      img {
        width: 200px;
        height: auto;
      }

      h4 {
        font-weight: 700;
      }
      p {
        font-size: 16px;
        line-height: 32px;
        color: var(--text-color);
      }
    }
  }
}

.displayExamples {
  margin: 0 auto;
  max-width: 80%;
  width: 100%;
  padding-block: 4rem;

  display: flex;
  gap: 3rem;

  .displayExamples__list {
    padding: 0.5rem;
    box-shadow: 5px 5px 15px var(--shadow-color, rgba(0, 0, 0, 0.2));
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-self: start;

    ul {
      list-style: none;
      padding: 0;
      padding-block: 1rem;
      padding-inline: 2rem;
      display: flex;
      flex-flow: column wrap;
      gap: 1rem;

      li {
        display: flex;
        gap: 1rem;
        align-items: center;
        align-content: center;
        cursor: pointer;

        &:hover {
          color: var(--color-accent);
        }
      }
    }
  }

  .displayExamplesRight {
    width: 100%;
    
    .displayExamplesRight__content {
      content-visibility: hidden;
    }
  }
}

.active {
  color: var(--color-accent);
  font-weight: 700;
}

.show {
  content-visibility: visible !important;
}

@media (max-width: 768px) {
  .heroBg {
    height: 800px;
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 90%);
  }

  .containerHero {
    flex-direction: column;
    justify-content: flex-start;
  }

  .heroContent {
    flex-direction: column;
  }

  .heroImage {
    width: 100%;
    height: 100%;
  }
}
