.header {
  --side-panel-bg-color: #2F364B;

  background-color: var(--side-panel-bg-color);
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 5rem;
}

.headerContent {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.link{
  --primary-color: #272d3e;
  background-color: var(--primary-color) !important;
  color: #fff;
}
.link:active, .link:hover{
  color: #fff7d6;
}
.link::selection{
  color: #fff7d6;
}

.sideNav {


}

.sideNavSection {
  --sumary-bg-color-contrast: #f7f9ff;
  --btn-border-radius: 0.55em;

  --accordion-bg-color:  #272d3e;
  summary{
    background-color: #272d3e !important;
    color: #fff !important;
  }

}

.sidePanel{
  --side-panel-bg-color: #2F364B;
  --side-panel-width: 30rem;


}

.icon {
  color: #fff;
}

.buttonNpm {
  --button-radius: 2rem;
}