.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border: 1px solid #606060;
}

.root > * {
  background-color: rgba(200, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.root > :last-child {
  padding: 1rem;
}

.root pre {
  flex-grow: 1;
  margin: 0 !important;
}

@media (min-width: 800px) {
  .root {
    flex-direction: row;
  }
}
